.sectionHistorialV {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: 95%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.headerHistorialV {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2vh;
  margin-bottom: 1vh;
}
.h2HeaderHistorialV {
  width: 100%;
  font-size: 2.7vw;
  text-align: center;
  background-color: rgb(196, 196, 196);
  color: rgb(0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  margin-bottom: 3vh;
  font-weight: 500;
}
.headerRowHistorialV {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}
.selectorsHistorialV {
  width: 24%;
  font-size: 1.5vw;
  text-align: center;
  background-color: rgb(196, 196, 196);
  border-radius: 15px;
  padding: 0.2vw;
}
.netoybrutoHistorialV {
  width: 24%;
  font-size: 1.5vw;
  text-align: center;
  background-color: rgb(196, 196, 196);
  border-radius: 15px;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
}
.netoybrutoNumeroV {
    font-weight: 600;
  color: green;
  display: flex;
  height: 100%;
  border-radius: 15px;
  padding-left: 0.7vw;
  padding-right: 0.5vw;
  align-items: center;
}
.netoybrutoTextoV {
  padding-left: 0.7vw;
  align-items: center;
}
.txt-black {
  color: black;
}
.containerHistorialVentas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow-y: auto;
}
.ventaHistorialV {
  width: 49%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgb(196, 196, 196);
  border-radius: 15px;
  justify-content: space-evenly;
  margin-bottom: 1vh;
}
.vHVNombre {
  font-size: 1.5vw;
  justify-content: center;
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 0.5vh;
}
.vHVBruto {
  font-size: 1vw;
  justify-content: center;
  display: flex;
  width: 31%;
  align-items: center;
  margin-bottom: 0.5vh;
}
.vHVNeto {
  font-size: 1vw;
  justify-content: center;
  display: flex;
  width: 31%;
  align-items: center;
  margin-bottom: 0.5vh;
}
.vHVNombre span {
  font-weight: 600;
  color: rgb(0, 0, 0);
}
.vHVBruto span {
  padding-left: 0.4vw;
  font-weight: 600;
  color: green;
}
.vHVNeto span {
  padding-left: 0.4vw;
  font-weight: 600;
  color: green;
}
.vHVContainerP {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 46%;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.285);
}
.vHVTittleP {
    text-align: center;
    font-size: 1vw;
    font-weight: 600;
  width: 100%;

}
.vHVProducto {
  width: 100%;
  text-align: center;
  font-size: 1vw;
}
.vHVContainerS {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 46%;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.285);
}
.vHVTittleS {
    text-align: center;
    font-size: 1vw;
    font-weight: 600;
  width: 100%;

}
.vHVServicio {
  width: 100%;
  text-align: center;
  font-size: 1vw;
}
.buttonContainerHV {
  display: flex;
  width: 100%;
  margin-top: 1vh;
}
.buttonFacturas {
  background-color: white;
  border-radius: 15px;
  margin-left: auto;
  margin-right: 0.5vw;
  margin-bottom: 1vh;
  padding-left: 0.7vw;
  padding-right: 0.7vw;
  display: flex;
  font-size: 1vw;
  justify-content: center;
  align-items: center;
}
.buttonFacturas span {
  color: green;
  font-size: 1.5vw;
  margin-left: 0.4vw;
}
