.tittleproductosRVG {
    width: 90%;
    font-size: 1.5vw;
    text-align: center;
    background-color: rgb(196, 196, 196);
    color: rgb(0, 0, 0);
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    margin-bottom: 1vh;
    font-weight: 600;
  }
  
  .listaproductosRVG {
    width: 90%;
    color: rgb(0, 0, 0);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-y: auto;
  }
  .productoRVG {
    width: auto;
    display: flex;
    border-radius: 15px;
    align-items: center;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    margin-bottom: 1vh;
    background-color: rgb(196, 196, 196);
  }
  .productonombreRVG {
    margin-left: 0.7vw;
    margin-right: 0.7vw;
    font-size: 1.2vw;
  }

  
