.home{
  width: 83vw;
    height: 100vh;
    padding: 3vh 2vw 3vh 0vw;
}
.parent {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(9, 1fr);
  grid-column-gap: 1vw;
  grid-row-gap: 1vw;
  height: 100%;
  width: 100%;


}
.div1R {
  grid-area: 1 / 1 / 6 / 5;
  background-color: rgb(32, 32, 32);
    border-radius: 10px;
}
.div2R {
  grid-area: 6 / 1 / 10 / 5;
 background-color: #e9e9e9;
    border-radius: 10px;
}
.div3R {
  grid-area: 1 / 5 / 4 / 11;
 background-color: #e9e9e9;
    border-radius: 10px;
}
.div4R {
  grid-area: 4 / 5 / 7 / 11;
 background-color: #e9e9e9;
    border-radius: 10px;
}
.div5R {
  grid-area: 7 / 5 / 10 / 8;
 background-color: #e9e9e9;
    border-radius: 10px;
}
.div6R {
  grid-area: 7 / 8 / 10 / 11;
 background-color: #e9e9e9;
    border-radius: 10px;
}
