.home {
  width: 83vw;
  height: 100vh;
  padding: 3vh 2vw 3vh 0vw;
}
.parentC {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(9, 1fr);
  grid-column-gap: 1vw;
  grid-row-gap: 1vw;
  height: 100%;
  width: 100%;
}

.div1C {
  grid-area: 1 / 1 / 10 / 4;
  background-color: rgb(32, 32, 32);
  border-radius: 10px;
}
.div2C {
  grid-area: 1 / 4 / 6 / 8;
  background-color: #e9e9e9;
  border-radius: 10px;
}
.div3C {
  grid-area: 1 / 8 / 6 / 11;
  background-color: #e9e9e9;
  border-radius: 10px;
}
.div4C {
  grid-area: 6 / 4 / 10 / 11;
  background-color: #e9e9e9;
  border-radius: 10px;
}
