/* styles/Sidebar.module.css */
.sidebar-father {
  width: 20vw;
  height: 100vh;
  padding: 3vh 1vw 3vh 2vw;
}
.sidebar {
  height: 100%;
  width: 100%;
  background-color: #e9e9e9;
  padding: 1vh 0vw 1vh 0vw;
  font-size: 1.6vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.list-son {
  margin-left: 1vw;
  margin-right: 1vw;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 0.7vh;
  padding-bottom: 1vh;
  border-radius: 10px;
  cursor: pointer;
  color: rgb(28, 28, 28);
  border: 2px solid rgb(26, 26, 26);
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
}
.last-li {
  margin-bottom: 3vh;
}
.sidebar ul li:hover {
  color: rgb(29, 29, 29);
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(213, 213, 213);
}
.sidebar ul li a {
  text-decoration: none;
}

.sidebar ul li a:hover {
  text-decoration: none;
}
