.sectionHistorialGF {
  display: flex;
  flex-direction: column;
margin-top: 2vh;
  flex-wrap: wrap;
  overflow-y: auto;
  width: 95%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.headerHistorialGF {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.h2HeaderHistorialGF {
  width: 100%;
  font-size: 1.5vw;
  text-align: center;
  background-color: rgb(196, 196, 196);
  color: rgb(0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  margin-bottom: 0.5vh;
  font-weight: 500;
}
.headerRowHistorialGF {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}
.selectorsHistorialGF {
  width: 48%;
  font-size: 1.5vw;
  text-align: center;
  background-color: rgb(196, 196, 196);
  border-radius: 15px;
  padding: 0.2vw;
  margin-bottom: 0.5vh;
}
.netoybrutoHistorialGF {
  width: 48%;
  font-size: 1.5vw;
  text-align: center;
  background-color: rgb(196, 196, 196);
  border-radius: 15px;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
}
.netoybrutoNumeroGF {
  font-weight: 600;
  color: green;
  display: flex;
  border-radius: 15px;
  padding-left: 0.7vw;
  padding-right: 0.5vw;
  align-items: center;
}
.netoybrutoTextoGF {
  padding-left: 0.7vw;
  align-items: center;
}
.txt-black {
  color: black;
}
.containerHistorialGastos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow-y: auto;
}
.gastoHistorialGF {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgb(196, 196, 196);
  border-radius: 15px;
  justify-content: space-between;
  padding-left: 1vw;
  padding-right: 1vw;
  align-items: center;
  margin-bottom: 1vh;
}
.gHGFNombre {
  font-size: 1.1vw;
  justify-content: center;
  display: flex;
  width: auto;
  align-items: center;
}
.gHGFNeto {
  font-size: 1vw;
  justify-content: center;
  display: flex;
  width: 31%;
  align-items: center;
}
.gHGFNombre span {
  font-style: italic;
  color: rgb(0, 0, 0);
}
.gHGFNeto {
  font-weight: 600;
  font-size: 1.5vw;
  color: green;
}
.gHGFContainerS {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.285);
}
.gHGFTittleS {
  text-align: center;
  font-size: 1vw;
  font-weight: 600;
  width: 100%;
}
.gHGFServicio {
  width: auto;
  text-align: center;
  font-size: 1.5vw;
  font-weight: 600;
  align-items: center;
  display: flex;
}

.buttonFacturasGF {
  width: auto;
  background-color: white;
  border-radius: 15px;
  display: flex;
  font-size: 1vw;
  justify-content: center;
  align-items: center;
  height: 70%;
}
.buttonFacturasGF span {
  color: green;
  font-size: 1.5vw;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  
}
