@tailwind base;
@tailwind components;
@tailwind utilities;

body {
background-color: rgb(228, 228, 228);
display: flex;
position:relative;

}
.image-background{
  position: absolute;
  z-index: -1;
}
