@tailwind base;
@tailwind components;
@tailwind utilities;

body {
background-color: rgb(228, 228, 228);
display: flex;
position:relative;

}
.image-background{
  position: absolute;
  z-index: -1;
}
.poppins {
  font-family: "Poppins", cursive;
}
.merri {
  font-family: "Merriweather", serif;
}
.allura {
  font-family: "Allura", cursive;
}
.gabarito {
  font-family: "Gabarito", cursive;
}
.unifrak {
  font-family: "UnifrakturCook", cursive;
}
.rocker{
  font-family: 'New Rocker', cursive;
}