.home {
  width: 83vw;
  height: 100vh;
  padding: 3vh 2vw 3vh 0vw;
}
.parent {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(9, 1fr);
  grid-column-gap: 1vw;
  grid-row-gap: 1vw;
  height: 100%;
  width: 100%;
}

.div1T {
  grid-area: 1 / 1 / 6 / 7;
  background-color: rgb(32, 32, 32);
  border-radius: 10px;
}
.div2T {
  grid-area: 6 / 1 / 10 / 4;
  background-color: #e9e9e9;
  border-radius: 10px;
}
.div3T {
  grid-area: 6 / 4 / 10 / 7;
  background-color: #e9e9e9;
  border-radius: 10px;
}
.div4T {
  grid-area: 1 / 7 / 5 / 11;
  background-color: #e9e9e9;
  border-radius: 10px;
}
.div5T {
  grid-area: 5 / 7 / 10 / 11;
  background-color: #e9e9e9;
  border-radius: 10px;
}
