.sectionSP {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1vh;
}
.headerSP {
  line-height: 1.2;
  width: 95%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgb(196, 196, 196);
  border-radius: 15px;
  padding: 5px;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  margin-top: 1.5vh;
  margin-bottom: 0.5vh;
  margin-left: auto;
  margin-right: auto;
}
.Pnombre {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 60%;
  font-size: 2vw;
  font-weight: 500;
}
.Pcif {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 40%;
  font-size: 1.3vw;
  padding-left: 0.7vw;
}
.Ptelefono {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  font-size: 1.3vw;
}
.Pemail {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 50%;
  font-size: 1.3vw;
}
.Pfecha {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 50%;
  font-size: 1.3vw;
}
.Pdireccion {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 70%;
  font-size: 1.3vw;
}
.Pgastostotales {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 30%;
  font-size: 2vw;
  color: green;
  font-weight: 500;
}

.historialgastosSP {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgb(196, 196, 196);
  border-radius: 15px;
  padding: 5px;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  margin-bottom: 1vh;
}
.historialtittleSP {
  width: 50%;
  font-size: 2vw;
  font-weight: 500;
}
.selectorscontainerSP {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  width: 50%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.selectorsSP {
  width: 48%;
  font-size: 1vw;
  text-align: center;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 15px;
  padding: 5px;
  margin-top: 0.2vh;
  margin-bottom: 0.2vh;
}
.gastoscontainerSP {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow-y: auto;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding-right: 5px;
}
.leftcontainerhistorialSP {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.rightcontainerhistorialSP {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.gastoHistorialSP {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgb(196, 196, 196);
  border-radius: 15px;
  justify-content: space-evenly;
  margin-top: 1vh;
}
.SPNombre {
  font-size: 1.5vw;
  justify-content: right;
  display: flex;
  width: 100%;
  align-items: center;
  padding-right: 0.7vw;
}
.SPNombre span {
  font-weight: 600;
  color: rgb(0, 0, 0);
}
.SPNeto {
  font-size: 2vw;
  justify-content: left;
  display: flex;
  width: 100%;
  align-items: left;
  margin-left: 0.7vw;
  margin-top: 0.1vh;
}

.SPNeto span {
  padding-left: 0.4vw;
  font-weight: 600;
  color: green;
}
.SPTittleP {
  text-align: center;
  font-size: 1vw;
  font-weight: 600;
  width: 50%;
  margin-bottom: 0.7vh;
  padding-left: 0.5vw;
}

.SPTittleS {
  text-align: center;
  font-size: 1vw;
  font-weight: 600;
  width: 50%;
  margin-bottom: 0.7vh;
}

.buttonFacturasSP {
  background-color: white;
  border-radius: 15px;
  margin-left: auto;
  margin-right: 0.5vw;
  margin-bottom: 1vh;
  padding-left: 0.7vw;
  padding-right: 0.7vw;
  display: flex;
  font-size: 1vw;
  justify-content: center;
  align-items: center;
}
.buttonFacturasSP span {
  color: green;
  font-size: 1.5vw;
  margin-left: 0.4vw;
}
/* Estilo para la barra de desplazamiento */
.gastoscontainerSP::-webkit-scrollbar {
  border-radius: 10px;
  width: 10px; /* Ancho de la barra de desplazamiento */
}

/* Estilo para la pista (track) de la barra */
.gastoscontainerSP::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #f1f1f1; /* Color de fondo de la pista */
}

/* Estilo para el control deslizante (thumb) de la barra */
.gastoscontainerSP::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #888; /* Color del control deslizante */
}

/* Estilo para el control deslizante al pasar el mouse */
.gastoscontainerSP::-webkit-scrollbar-thumb:hover {
  border-radius: 10px;
  background: #555; /* Color al pasar el mouse */
}
