.home {
  width: 80vw;
  height: 100vh;
  padding: 3vh 2vw 3vh 0vw;
}
.parent {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  grid-column-gap: 1vw;
  grid-row-gap: 1vw;
  height: 100%;
  width: 100%;
}
.div1PR {
  grid-area: 1 / 1 / 10 / 4;
  background-color: rgb(32, 32, 32);
  border-radius: 10px;
}
.div2PR {
  grid-area: 1 / 4 / 6 / 7;
  background-color: #e9e9e9;
  border-radius: 10px;
}
.div3PR {
  grid-area: 1 / 7 / 6 / 10;
  background-color: #e9e9e9;
  border-radius: 10px;
}
.div4PR {
  grid-area: 6 / 4 / 10 / 7;
  background-color: #e9e9e9;
  border-radius: 10px;
}
.div5PR {
  grid-area: 6 / 7 / 10 / 10;
  background-color: #e9e9e9;
  border-radius: 10px;
}
