.tittletareasTU {
  width: 90%;
  font-size: 2vw;
  text-align: center;
  background-color: rgba(190, 89, 0, 0.697);
  color: rgb(0, 0, 0);
  margin-top: 2vh;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  margin-bottom: 1vh;
  font-weight: 500;
}

.listatareasTU {
  width: 90%;
  color: rgb(0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  overflow-y: auto;
  margin-bottom: 1vh;
  display: flex;
  flex-direction: column;
}
.tareaTU {

  display: flex;
  border-radius: 15px;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  margin-bottom: 1vh;
  background-color: rgb(196, 196, 196);
}
.warningTU {
  color: rgb(255, 0, 0);
  font-size: 1.5vw;
  margin-left: 0.7vw;
}

.tareanombreTU {
  margin-left: 0.7vw;
  font-size: 1.2vw;
  width: 70%;
}
.checkTU {
  font-size: 1.3vw;
  background-color: rgba(255, 255, 255, 0.804);
  padding-right: 0.7vw;
  padding-left: 0.7vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  border-radius: 15px;
  transition: background-color 0.3s ease-in;
}
.checkTU:hover {
  background-color: rgba(51, 255, 0, 0.694);
}

.trashTU {
  font-size: 1.3vw;
  background-color: rgba(255, 255, 255, 0.804);
  padding-right: 0.7vw;
  padding-left: 0.7vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  border-radius: 15px;
  margin-left: 0.5vw;
  transition: background-color 0.3s ease-in;
}
.trashTU:hover{
  background-color: rgba(255, 0, 0, 0.693);
}

.buttonstareaTU {
  margin-right: 0.4vw;
  width: 30%;
}
